--exclude Pods
--exclude Carthage
--disable consecutiveSpaces,trailingSpace,numberFormatting,blankLinesAtEndOfScope,blankLinesAtStartOfScope,strongOutlets,unusedArguments,hoistPatternLet,sortedImports,spaceAroundGenerics,trailingCommas,blankLinesAroundMark

